PORT=4005
DATABASE_URL=postgresql://order_user:order_password@localhost:5437/order_db
JWT_SECRET=change-this-dev-secret
CART_SERVICE_URL=http://localhost:4004
PRODUCT_SERVICE_URL=http://localhost:4001
USER_SERVICE_URL=http://localhost:4003
PAYMENT_SERVICE_URL=http://localhost:4006
INTERNAL_SERVICE_TOKEN=change-this-internal-token
